<style>
    /* 날짜 글씨 색상을 검은색으로 설정 */
    .fc-daygrid-day-number {
      color: black;
    }

    .fc-col-header-cell-cushion {
      color: black;
    }
  </style>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');
      var colorIndex = 0;
      var colors = ['#FF5733', '#33FF57', '#3357FF', '#F0A202', '#8A2BE2', '#FF6347'];
      var calendar = new FullCalendar.Calendar(calendarEl, {
        initialView: 'dayGridMonth',
        selectable: true,
        select: function (info) {
          var title = prompt('일정을 입력하세요:');
          var eventData;
          if (title) {
            eventData = {
              title: title,
              start: info.startStr,
              end: info.endStr,
              color: colors[colorIndex % colors.length]
            };
            colorIndex++;
            calendar.addEvent(eventData);
          }
          calendar.unselect();
        },
        eventClick: function (info) {
          if (confirm('일정을 삭제하시겠습니까?')) {
            info.event.remove();
          }
        },
        events: [] // 일정 데이터 추가 , DB의 event를 가져오려면 JSON 형식으로 변환해 events에 넣어주면 된다.
      });
      calendar.render();
    });
  </script>

  <!-- Calendar -->
  <div id='calendar' style="height: 1200px; width: 1200px; margin-left: 350px;"></div>