    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">J O B <sup>a</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-calendar"></i>
                <span>캘린더</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link" <% if (user) { %> href="/workSheet" <% } else { %> id="login_plz" <% } %>>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>워크시트</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - 자격증 -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>자격증</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <% if (user) { %>
                        <a class="collapse-item" href="/certificate">맞춤자격증추천</a>
                        <a class="collapse-item" href="/certificate_info">자격증정보</a>
                        <% } else { %>
                            <a id="login_plz" class="collapse-item">맞춤자격증추천</a>
                            <a id="login_plz" class="collapse-item">자격증정보</a>
                            <% } %>
                </div>
            </div>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - 스터디그룹 -->
        <li class="nav-item">
            <a class="nav-link" <% if (user) { %> href="/studyGruop" <% } else { %> id="login_plz" <% } %>>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>스터디그룹</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - 내 정보 -->
        <% if (user) { %>
            <li class="nav-item">
                <a class="nav-link" href="/tables">
                    <i class="fas fa-fw fa-table"></i>
                    <span>내 정보</span></a>
            </li>
            <% } %>

                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

    </ul>
    <!-- End of Sidebar -->