    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <link rel="stylesheet" href="../css/slider.css">
        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <img src="../img/메인-removebg-preview__1_-removebg-preview.png" alt="설명" width="60" height="60">

            </div>
            <div class="sidebar-brand-text mx-3">J O B <sup>a</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-calendar"></i>
                <span>일정 관리</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider my-0">

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider my-0">


        <!-- Nav Item - 자격증 -->
        <li class="nav-item">
            <a class="nav-link collapsed" <% if (user) { %> href="/certificate" <% } else { %> id="login_plz" <% } %> data-target="#collapseTwo"
                aria-expanded="true" aria-controls="collapseTwo">
                        <i class="fas fa-fw fa-cog"></i>
                        <span>자격증 AI</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - 스터디그룹 -->
        <li class="nav-item">
            <a class="nav-link" <% if (user) { %> href="/studyGruop" <% } else { %> id="login_plz" <% } %>>
                        <i class="fas fa-fw fa-cog"></i>
                        <span>스터디그룹</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">
        <hr class="sidebar-divider my-0">


                <!-- Divider -->
                <hr class="sidebar-divider d-none d-md-block">

                <!-- Sidebar Toggler (Sidebar) -->
                <div class="text-center d-none d-md-inline">
                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                </div>

    </ul>
    <!-- End of Sidebar -->