<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">내 정보</h1>

<style>
    .swal2-front {
        z-index: 1100 !important;
    }
</style>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
            const openModalBtn = document.querySelector('.certi_open_modal');
            const closeModalBtn = document.querySelector('.certi_close_modal');
            const modal = document.querySelector('.certi_modal');
            const bluu = document.querySelector('.bluu');
        
            openModalBtn.addEventListener("click", () => {
                modal.style.display = "block";
                bluu.style.display = "block";
            });
        
            closeModalBtn.addEventListener("click", () => {
                modal.style.display = "none";
                bluu.style.display = "none";
            });
        });
</script>


<!-- ----------------------------------------------------- 자격증 모달----------------------------------------------------- -->
<div>
    <div class="certi_modal">
    <div class="modal_body">
        <button class="certi_close_modal">x</button> <!-- 닫기 버튼 -->
        <form action="/certi/add" method="post" id="cform">
            <label><h4>보유 자격증 입력</h4></label>
            <div class="sign-in-htm">
                <!-- 자격명 입력 -->
                <div>
                    <input id="cname" name="certi_name" type="text"
                        class="inputStyle" placeholder="자격명을 입력하세요." required>
                </div>
                <!-- 자격증 취득일자 입력 -->
                <div>
                    <input id="corg" name="certi_org" type="text"
                    class="inputStyle" placeholder="발행 기관을 입력하세요." required>
                </div>
                <!-- 입력 버튼 -->
                <div id="login_btn">
                    <button type="submit" value="Sign In">입력</button> <!-- 이거 어떻게든 mem_id 세션에서 받아와서 보내야됨 -->
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<button class="certi_open_modal">자격증 입력</button>

<div class="div_style"> <!-- 가로로 정렬해줌 -->
    <!-- ---------------------------------------------- 가입일자 --------------------------------------- -->
    <div class="block_style">
        <div class="block_detail">
            <div class="card_style-body">
                <div class="block_text">
                    <div class="block1_text_color">가입날자</div>
                    <div class="block2_text_color">2024-07-02</div>
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------------------------- 일정 수행률 ----------------------------------- -->
    <div class="block_style">
        <div class="block_detail">
            <div class="card_style-body">
                <div class="block_text">
                        <div class="block1_text_color">일정 수행률</div>
                        <div class="col-auto">
                            <div class="block2_text_color">100%</div>
                        <div class="row no-gutters align-items-center">
                            
                            <div class="col">
                                <div class="progress progress-sm mr-2"> <!-- style 100%를  msche_status value개수 총합(일정 상태가 성공인것과, 실패인것 취합)/msche_status(성공한수)-->
                                    <div class="progress-bar bg-info" role="progressbar"
                                        style="width: 100%"
                                        aria-valuenow="50" aria-valuemin="0"
                                        aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <!-- ---------------------------------- 자격증수 ------------------------------- -->
    <div class="block_style">
        <div class="block_detail">
            <div class="card_style-body">
                <div class="block_text">
                        <div class="block1_text_color">자격증수</div>
                        <div class="block2_text_color">18</div> <!-- 자격증 개수 넣는곳 -->
                </div>
            </div>
        </div>
    </div>
    
        <!-- ----------------------------------------- 파이 차트 ---------------------------------- -->
    <div class="chart_style">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Donut Chart</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-pie pt-4">
                    <canvas id="myPieChart"></canvas>
                </div>
                <hr>설명
            </div>
        </div>
    </div>




