<!-- 상단바 -->
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    <!-- 상단바 검색창 -->
    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" id="searchForm">
        <div class="input-group">
            <input type="text" class="form-control bg-light border-0 small" placeholder="일정 검색"
                aria-label="Search" aria-describedby="basic-addon2" id="searchTitle" name="msche_title">
            <div class="input-group-append">
                <button class="btn btn-primary" type="submit">
                    <i class="fas fa-search fa-sm"></i>
                </button>
            </div>
        </div>
    </form>

    <% if (user) { %>
        <!-- 상단바 -->
        <ul class="navbar-nav ml-auto">

            <!-- Nav Item - Search Dropdown (Visible Only XS) -->
            <li class="nav-item dropdown no-arrow d-sm-none">
                <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-search fa-fw"></i>
                </a>
                <!-- Dropdown - Messages -->
                <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                    aria-labelledby="searchDropdown">
                    <form class="form-inline mr-auto w-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </li>

            <!-- Nav Item - Alerts -->
            <li class="nav-item dropdown no-arrow mx-1">
                <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-bell fa-fw"></i>
                    <!-- Counter - Alerts -->
                    <span class="badge badge-danger badge-counter">3+</span>
                </a>
                <!-- Dropdown - Alerts -->
                <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                    aria-labelledby="alertsDropdown">
                    <h6 class="dropdown-header">
                        일정 알림
                    </h6>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-primary">
                                <i class="fas fa-file-alt text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 12, 2019</div>
                            <span class="font-weight-bold">A new monthly report is ready to download!</span>
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-success">
                                <i class="fas fa-donate text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 7, 2019</div>
                            $290.29 has been deposited into your account!
                        </div>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" href="#">
                        <div class="mr-3">
                            <div class="icon-circle bg-warning">
                                <i class="fas fa-exclamation-triangle text-white"></i>
                            </div>
                        </div>
                        <div>
                            <div class="small text-gray-500">December 2, 2019</div>
                            Spending Alert: We've noticed unusually high spending for your account.
                        </div>
                    </a>
                    <a class="dropdown-item text-center small text-gray-500" href="#">Show All Alerts</a>
                </div>
            </li>

            

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown no-arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <img class="img-profile rounded-circle" src="../img/k_profile.png">
                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <a class="dropdown-item" href="/tables">
                        <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                        내 정보
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/member/logout">
                        <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                        Logout
                    </a>
                </div>
            </li>

        </ul>
        <% } else { %>
            <button class="btn btn-primary" id="show" style="margin-right: 20px;">로그인</button>
            <% } %>

                <!-- 회원가입/로그인 모달창 -->
                <div class="background">
                    <div class="window">
                        <div class="popup_1">
                            <div class="login-wrap">
                                <button id="close">x</button>
                                <div class="login-html">
                                    <!-- 회원가입/로그인 탭 -->
                                    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1"
                                        class="tab">로그인</label>
                                    <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2"
                                        class="tab">회원가입</label>

                                    <div class="login-form">
                                        <!-- 로그인 화면 -->
                                        <form id="lform">
                                            <div class="sign-in-htm">
                                                <!-- 아이디 입력 -->
                                                <div class="group">
                                                    <input id="luser" name="mem_id" type="text" class="input"
                                                        placeholder="아이디를 입력하세요." required>
                                                </div>
                                                <!-- 비밀번호 입력 -->
                                                <div class="group">
                                                    <input id="lpass" name="mem_pw" type="password" class="input"
                                                        data-type="password" placeholder="비밀번호를 입력하세요." required>
                                                </div>
                                                <!-- 로그인 버튼 -->
                                                <div class="group" id="login_btn">
                                                    <button type="submit" value="Sign In">로그인</button>
                                                </div>
                                            </div>
                                        </form>

                                        <!-- 회원가입 화면 -->
                                        <form id="rform">
                                            <div class="sign-up-htm">
                                                <!-- 닉네임 -->
                                                <div class="group">
                                                    <input id="rnick" name="mem_nick" type="text" class="input"
                                                        placeholder="사용할 닉네임 입력" required>
                                                </div>
                                                <!-- 아이디 -->
                                                <div class="group">
                                                    <input id="ruser" name="mem_id" type="text" class="input"
                                                        placeholder="아이디 입력" required>
                                                </div>
                                                <!-- 비밀번호 -->
                                                <div class="group">
                                                    <input id="rpass" name="mem_pw" type="password" class="input"
                                                        data-type="password" placeholder="비밀번호 입력" required>
                                                </div>
                                                <!-- 비밀번호 확인 -->
                                                <div class="group">
                                                    <input id="confirmpass" type="password" class="input"
                                                        data-type="password" placeholder="비밀번호 재입력" required>
                                                    <div id="message"></div>
                                                </div>
                                                <!-- 가입하기 -->
                                                <div class="group" id="submit_btn">
                                                    <button type="submit" value="Sign Up">가입하기</button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                </li>

                </ul>

</nav>

<!-- End of Topbar -->
<!-- 중복된 아이디 -->
<script>
    $(document).ready(function () {
        // input 값이 변경되면
        $("#ruser").blur(function () {

            if (!$("#ruser").val()) {
                return;
            }
            // AJAX 요청 보내기
            $.ajax({
                url: "/member/checkid",  // 요청 보낼 주소
                type: "POST",  // 요청 방식
                data: {  // 전달할 데이터
                    mem_id: $("#ruser").val()
                },
                success: function (response) {
                    // 요청이 성공하면 실행될 콜백 함수
                    if (response === "available") {
                        Swal.fire({
                            icon: 'success',
                            text: '사용 가능한 아이디입니다!',
                            customClass: {
                                popup: 'swal2-front'
                            }
                        });
                    } else {
                        Swal.fire({
                            icon: 'error',
                            text: '이미 사용 중인 아이디입니다.',
                            customClass: {
                                popup: 'swal2-front'
                            }
                        });
                    }
                }
            });
        });
    });

    // 로그인 / 회원가입 창 띄워주는 스크립트
    function show() {
        document.querySelector(".background").className = "background show";
    }
    // 로그인 / 회원가입 창을 취소를 눌러 끄는 스크립트
    function close() {
        document.querySelector(".background").className = "background";
    }
    // 클릭시 일어남
    document.querySelector("#show").addEventListener("click", show);
    document.querySelector("#close").addEventListener("click", close);
</script>

<script>
    // <!-- 비밀번호 일치 불일치 및 그냥 클릭시 오류창 -->
    const password = document.getElementById('rpass');
    const confirmPassword = document.getElementById('confirmpass');
    const message = document.getElementById('message');
    const form = document.getElementById('rform');

    function checkPasswords() {
        if (password.value && confirmPassword.value) {
            if (password.value === confirmPassword.value) {
                message.textContent = '비밀번호가 일치합니다.';
                message.className = 'success-message';
            } else {
                message.textContent = '비밀번호가 일치하지 않습니다.';
                message.className = 'error-message';
            }
        } else {
            message.textContent = '';
        }
    }

    password.addEventListener('input', checkPasswords);
    confirmPassword.addEventListener('input', checkPasswords);
// <!-- 회원가입 성공 및 실패 -->
    $(document).ready(function () {
        $('#rform').submit(function (event) {
            if (password.value === confirmPassword.value) {
                event.preventDefault();
                const formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: '/member/register',
                    data: formData,
                    success: function (response) {
                        if (response.success) {
                            // 회원가입 성공
                            Swal.fire({
                                icon: 'success',
                                text: '회원가입 성공',
                                confirmButtonText: '확인'
                            }).then((result) => {
                                if (result.isConfirmed) {
                                    window.location.href = '/';
                                }
                            });
                        }
                    },
                    error: function (error) {
                        Swal.fire({
                            icon: 'error',
                            text: '아이디와 비밀번호를 확인해주세요.',
                            confirmButtonText: '확인'
                        })
                    }
                });
            } else {
                event.preventDefault();
                Swal.fire({
                    icon: 'error',
                    text: '비밀번호를 일치시켜주세요.',
                    confirmButtonText: '확인'
                });
            }
        });
    });
</script>

<!-- 로그인 성공 및 아이디 비밀번호 불일치 알림창 -->
<script>
    $(document).ready(function () {
        $('#lform').submit(function (event) {
            event.preventDefault();
            const formData = $(this).serialize();

            $.ajax({
                type: 'POST',
                url: '/member/login',
                data: formData,
                success: function (response) {
                    if (response.success) {
                        // 로그인 성공
                        Swal.fire({
                            icon: 'success',
                            text: '로그인 성공',
                            confirmButtonText: '확인'
                        }).then((result) => {
                            if (result.isConfirmed) {
                                window.location.href = '/';
                            }
                        });
                    }
                },
                error: function (error) {
                    Swal.fire({
                        icon: 'error',
                        text: '아이디와 비밀번호를 확인해주세요.',
                        confirmButtonText: '확인'
                    });
                }
            });
        });
    });
</script>

<!-- script 태그 내부 또는 별도의 JavaScript 파일에서 -->
<script>
    $(document).ready(function() {
        $('#searchForm').submit(function(event) {
            event.preventDefault(); // 기본 제출 방지
    
            var searchTitle = $('#searchTitle').val(); // 검색어 가져오기
    
            $.ajax({
                type: 'GET', 
                url: '/schedule/find', 
                data: { msche_title: searchTitle }, 
                dataType: 'json', // 받을 데이터 형식 (JSON, HTML 등)
                success: function(response) {
                    window.location.href = '/search'
                },
                error: function(xhr, status, error) {
                    console.error('에러:', error);
                }
            });
        });
    });
    </script>
    